.score
  .A
    color: #f65022
  .As, .Bb
    color: #f37800
  .B, .Cb
    color: #feb140
  .C, .Bs
    color: #8fc31f
  .Cs, .Db
    color: #49a944
  .D
    color: #009eca
  .Ds, .Eb
    color: #206ada
  .E, .Fb
    color: #5020f7
  .F, .Es
    color: #8020c8
  .Fs, .Gb
    color: #b21793
  .G
    color: #da008f
  .Gs, .Ab
    color: #ea305a
