.fav
  .icon
    i
      transform: translatez(0)
      -webkit-transform: translatez(0)
      transition: all .2s ease
      &:hover
        opacity: .85
        transform: scale(1.1)
  &.active
    font-weight: bold
    .icon
      color: #fa6060
      i
        transform: translatez(0)
        -webkit-transform: translatez(0)
        animation: fav-animation .2s linear 0s forwards
  &:not(.active)
    .icon:hover
      color: #fa6060

@keyframes fav-animation
  0%
    transform: scale(.5)
    color: #fa6060
  5%
    transform: scale(1.4)
  100%
    transform: scale(1)
