.score-header
  display: flex
  justify-content: space-between
  margin-bottom: .4rem
  .title
    margin-bottom: 1.2rem
    .icon
      color: #363636
      font-size: .85em
      margin-left: .4em
      opacity: .5
  .author-name
    display: inline-block
    font-size: .9em
    margin-bottom: 1em
    color: #666
    > *
      vertical-align: middle
    figure
      display: inline-block
      margin-right: .5rem
    &:hover
      color: #444
  .created-at, .updated-at
    display: block
    font-size: .9em
    color: #888
    .icon
      margin-right: .25em
      color: #666
  .button
    display: block
    margin-bottom: 1rem

@media screen and (max-width: $tablet - 1px)
  .score-header
    flex-direction: column
    .shared-buttons
      margin: 1.5em 0 0
      .shared-button
        font-size: 1.5em
        margin-bottom: 1em
        .fa-stack
          .fa:last-child
            left: .1em
      &.as-show
        .shared-button
          margin-top: .5em
          &:not(:last-child)
            margin-right: 1.2em
