.score-footer
  text-align: center
  > div:first-child
    display: inline-block
    .status-control
      font-weight: bold
      display: inline-block
    .save-control
      display: inline-block
      width: 100%
      .button
        width: 100%
        min-width: 150px
        max-width: 200px
  .notification
    margin-top: 1rem
    display: inline-block
