.scores
  .title
    .icon
      margin-left: .2em
  .score-card
    display: block
    .box
      display: flex
      justify-content: space-between
      align-items: center
      transition: all .1s ease-in-out
      background-color: #fff
      h3
        color: #178bdf
        .icon
          color: #363636
          font-size: .9em
          margin-left: .4em
          opacity: .5
      h3, .score-attributes
        transition: all .1s ease-in-out
      &.closed
        background-color: #eaeaea
    &:hover, &:active
      .box
        // box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(50, 115, 220, 0.5)
        background-color: #fafafa
        &.closed
          background-color: #e0e0e0
    &:not(:last-child)
      margin-bottom: 1.5rem

.box.no-score
  box-shadow: none
  background-color: #f4f4f4
  padding: 2.4em
  .media-content
    text-align: center
    color: #888
    font-weight: bold
