.search
  .search-control
    margin-bottom: 2em
    .button > *
      vertical-align: middle
  .hits
    align-self: center
    position: absolute
    right: 0
    strong
      font-size: 1.2em
      margin-right: .4em
  .is-only-mobile
    display: none !important

@media screen and (min-width: $tablet)
  .search
    .scores, .users
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      .score-card, .user-card
        width: calc(50% - 1em)
        .box
          height: 100%
      .score-card
        .media-content
          height: 100%
          .content
            height: 100%
            display: flex
            flex-direction: column
            justify-content: space-between
      .no-score
        width: 100%

@media screen and (max-width: $tablet - 1px)
  .search
    .search-control
      margin-bottom: 1em
      .search-input.control
        flex-grow: 1
        margin-right: 0
      .search-type
        margin-right: 0
        .button
          .icon
            margin: auto !important
    .field.is-grouped
      &.is-only-mobile
        position: relative
        display: flex !important
        margin-bottom: 1.2em
        .hits
          font-size: 1.2em
      button
        .icon
          margin-left: calc(-0.375em - 1px)
          margin-right: calc(-0.375em - 1px)
        span:last-of-type:not(.icon)
          display: none
