.search
  .field.is-grouped
    margin-bottom: 2em
  .hits
    align-self: center
    position: absolute
    top: 0
    right: 0
    strong
      font-size: 1.2em
      margin-right: .4em
  .is-only-mobile
    display: none

@media screen and (max-width: $tablet - 1px)
  .search
    .search-input
      flex-grow: 1
    .field.is-grouped
      margin-bottom: 1em
      .search-type
        margin-right: 0
        .button
          .icon
            margin: auto !important
      &.is-only-mobile
        position: relative
        display: flex
        margin-bottom: 1.2em
        .hits
          font-size: 1.2em
