.tab-bar.tabs
  margin-bottom: 0
  .container
    border-bottom: 1px solid #dbdbdb
    display: flex
    align-items: center
    ul
      border: none
      a, span
        padding: .85em 1em
      a:hover
        background-color: #fafafa
      .disabled
        opacity: .5
    .has-addons
      .input, .button
        font-size: .9rem
