.progression
  font-family: "Roboto"
  .chords
    display: inline-block
    &:not(:last-child):after
      content: "|"
      margin: 0 1em
  .chord
    .root, .type
      font-weight: bold
    .root
      font-size: 1.4em
      &.C
        color: #d92
      &.D
        color: #8b1
      &.E
        color: #2b7
      &.F
        color: #82e
      &.G
        color: #c2b
      &.A
        color: #e37
      &.B
        color: #d51
    .type
      font-size: 1.1em
      margin-left: 1px
      color: #666
    &:not(:last-child)
      margin-right: 1em
