version: '3'
services:
  db:
    image: postgres:10.1
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
  redis:
    image: redis:latest
    ports:
      - 6379:6379
