// $primary: #a0ca30
// $info:    #30b4d0
// $success: #60d040
// $warning: #e4a020
// $danger:  #e44020
// $dark:   $grey-darker
// $text:   $grey-dark

@import "font-awesome"
@import "bulma"
@import "../../../vendor/assets/bulma-slider.sass"
@import "../../../vendor/assets/bulma-switch.sass"
@import "partials/*"

.title-logo
  span
    &:first-child
      margin-right: 8px
      opacity: .85
    &:last-child
      letter-spacing: 1px

@media screen and (min-width: $fullhd)
  .container
    max-width: 1200px
