// $primary: #a0ca30
// $info:    #30b4d0
// $success: #60d040
// $warning: #e4a020
// $danger:  #e44020
// $dark:   $grey-darker
// $text:   $grey-dark

@import "font-awesome"
@import "bulma"
@import "../../../vendor/assets/bulma-slider.sass"
@import "../../../vendor/assets/bulma-switch.sass"
@import "partials/*"

// footer をページ下部に固定
html
  height: 100%
  body
    min-height: 100%
    display: flex
    flex-direction: column
    section.section
      flex-grow: 1

.navbar-brand
  .title-logo
    margin-left: -1rem
    span
      &:first-child
        margin-right: 8px
        opacity: .85
.navbar-menu
  .button
    .fa
      margin-right: .4em
  .current-user
    span
      margin-right: .8em
      font-size: .9em
    img
      max-height: 32px
  .navbar-end
    .navbar-item:last-child
      padding-right: 0

@media screen and (max-width: $desktop)
  .navbar-brand
    .title-logo
      margin-left: 0

@media screen and (min-width: $fullhd)
  .container
    max-width: 1200px
