meta name="viewport" content="width=420"
meta name="format-detection" content="telephone=no"

meta content=title name="title"
meta name="keywords" content=""
meta name="description" content=description
meta name="author" content="comorebi notes"
link rel="canonical" href="https://rechord.cc"

meta property="og:site_name" content="rechord"
meta property="og:title" content=title
meta property="og:description" content=description
meta property="og:type" content="website"
meta property="og:url" content=request.url
meta property="og:image" content="FIXME"
meta property="fb:app_id" content="FIXME"
meta name="twitter:card" content="app"
meta name="twitter:site" content="@rechord_cc"
meta name="twitter:image" content="FIXME"

link rel="icon" type="image/x-icon" href="FIXME"
